<app-header title="extracto mes cerrado"></app-header>

<div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-select label="Seleccionar Ciclo"
                      (ionChange)="seleccionarCiclo($event)">
            <ion-select-option class="color-option" *ngFor="let c of ciclos" [value]="c">
              {{c.anho}} - {{getMesEnLetras(c.mes)}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col size="12">
        <div class="container__logo"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="12">{{mesCerrado?.cabecera.nombre}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="12">{{mesCerrado?.cabecera.empresa}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center container--titulo" size="12">{{mesCerrado?.cabecera.titulo}}</ion-col>
    </ion-row>
    <div class="container__row">
      <ion-row class="contentgrid--cell">
        <ion-col size="6">Capital Aportado:</ion-col>
        <ion-col class="ion-text-right" size="6">{{mesCerrado?.cabecera.capital_aportado?.toString()| formatoSeparadorMiles}}</ion-col>
      </ion-row>
      <ion-row class="contentgrid--cell">
        <ion-col size="6">Aporte Mes:</ion-col>
        <ion-col class="ion-text-right" size="6">{{mesCerrado?.cabecera.aporte_mes?.toString()| formatoSeparadorMiles}}</ion-col>
      </ion-row>
      <ion-row class="contentgrid--cell">
        <ion-col size="6">Total Mes:</ion-col>
        <ion-col class="ion-text-right" size="6">{{mesCerrado?.cabecera.total_mes?.toString()| formatoSeparadorMiles}}</ion-col>
      </ion-row>
      <ion-row class="contentgrid--cell">
        <ion-col size="6">Liquidación ASO:</ion-col>
        <ion-col class="ion-text-right" size="6">{{mesCerrado?.cabecera.liquidacion_aso?.toString() | formatoSeparadorMiles}}</ion-col>
      </ion-row>
      <ion-row class="contentgrid--cell">
        <ion-col size="6">Descuento RRHH:</ion-col>
        <ion-col class="ion-text-right" size="6">{{mesCerrado?.cabecera.descuento?.toString()| formatoSeparadorMiles}}</ion-col>
      </ion-row>
      <ion-row class="contentgrid--cell">
        <ion-col size="6">Saldo Pendiente:</ion-col>
        <ion-col class="ion-text-right" size="6">{{mesCerrado?.cabecera.saldo_pendiente?.toString() | formatoSeparadorMiles}}</ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <app-mes-detalle [detalle]="detalle"></app-mes-detalle>
</ion-content>