<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/inicio/menu-cobertura"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container-cabecera">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        Cobertura Médica
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" size="12">
        Grupo Telecel - ASOTIGO
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content>
 <ion-grid>
  <ion-row>
    <ion-col size="12"> <ion-textarea>{{mensaje}}</ion-textarea></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="abrirAdjuntarDocumento()" expand="block">
      Cerrar
    </ion-button>
  </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
