.fixed__opcion{
    font-weight:bold;
    color: #00C0FF;
}

.content__icon{
    position:absolute;
    right:-3px;
}

.importeFormateado{
    font-size: 25px;
}

.montoSolicitado{
    font-size: 8px;
    color: transparent;
}