.container{
    margin-top: 15px;
}

.container-cabecera{
    display:flex;
    background-color: #001F5F;
    height: 100px;
    color: #fff;
    align-items: center;
    font-size:18px; 
}

ion-title{
    font-size: 15px;
}
ion-button{
    font-size: 15px;
    margin-top:40px;
    height:80px;
    --background:linear-gradient(to left, #001F5F,#00C0FF) !important;
}