<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true"><!-- habilita y deshabilita scroll vertical vertical -->
  <div class="container__logo"></div>
  <app-menu></app-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
