ion-grid{
    box-shadow: 0px 0px 20px #525151;
    border-radius:10px;
}
.iongrid__button{
    --background:linear-gradient(to left, #001F5F,#00C0FF) !important;
}

.type-toggle{
    position: relative;
    right: -228px;
}