<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize ion-text-center">Cobertura Médica</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize ion-text-center">Grupo Telecel - ASOTIGO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label>Mensaje Asismed</ion-label>
  </ion-item>
  <ion-textarea [autoGrow]="true" [value]="mensaje"></ion-textarea>
  <ion-buttons slot="end">
    <ion-button (click)="cancel()" class="contentgrid_btn" expand="block">Cerrar</ion-button>
  </ion-buttons>
</ion-content>