
.contentgrid--cell {
    border-color: #c4c4c4; 
    border-width: 0.1px; 
    border-style:solid;
    margin-top: 1px;
    background-color: #ffffff;
  }

  ion-grid{
    box-shadow: 0px 0px 15px #001F5F;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  ion-content{
    --background:#fcfcfc;
  }