
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'}">
    <mat-toolbar color="primary">
<!--       <span>Menú</span> -->
      <div class="logo"></div>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
      *ngFor="let item of menuItems"
      
      >
      <div style="display: flex; align-items: center;" *ngFor="let subItem of item.subLabel">
        <!-- {{item.label}} -->
          <a mat-button class="nav__items" [matMenuTriggerFor]="animals">{{item.label}}</a>
          <mat-menu #animals="matMenu"
          >
            <button mat-button 
            class="btn subItem"
            [routerLink]="subItem.url"
            (click)="sidenav.toggle()"
            >
            <mat-icon matListItemIcon>{{subItem.icon}}</mat-icon>
            {{subItem.name}}
          </button>
          </mat-menu>

      </div>
          
      </mat-list-item>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <h4 class="toolbar__nombre">{{usuario?.nombre}}</h4>
    <a mat-button
        class="toolbar__btn toolbar__btn--cerrarsesion"
        (click)="logout()"
    >Cerrar Sesión</a>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
